*{
	margin: 0 auto;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

body{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div{
	overflow-x: hidden;
	position: absolute;
	width: auto;
	display: inline-block;
}

canvas{
	display: inline-block;
	position: absolute;
	width: auto;
	height: auto;
	z-index: 1000;
}

div>img{
	display: block;
	position: relative;
	width: auto;
	height: 100vh;
}

div#grass img, div#freya img, div#grass3 img, div#flow1{
	bottom: -140px;
}

div#mainPanel{
	display: inline-block;
	position: absolute;
	top: 200px;
	left: 50px;
	width: 70vw;
	height: 500px;
	/*background-color: yellowgreen;*/
	overflow-x: hidden;
}