*{
    padding: 0;
    margin: 0 auto;
}
body{
    overflow-x: hidden !important;
    overflow-y: auto;
    height: 100vh;
    background-color: whitesmoke;
    color: rgb(35,35,35);
}
.background {
    overflow: hidden;
    z-index: -10;
    display:block;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background-image: url("../media/bg.gif");
    background-repeat: repeat;
    animation: slide 4s linear infinite;
  }
@keyframes slide{
    0%{
        background-position : 0px 0px;
    }
    100%{
        background-position : 512px 512px;
    }
}
nav{
    z-index: 100;
    text-align: center;
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0;
    margin:0 auto;
    width: 100%;
    min-height: 45px;
    max-height: 250px;
    height: 4rem;
    background-color: whitesmoke;
    transition: top 0.4s;
    box-shadow: 1px 6px 24px -7px rgba(0,0,0,0.36);
    -webkit-box-shadow: 1px 6px 24px -7px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 6px 24px -7px rgba(0,0,0,0.36);
}
nav div{
    width: 100vw;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    height: auto;
    top: 1.35em;
}
nav a{
    font-family: 'nes';
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(120,120,120);
    position: relative;
    margin-right: 3.5vw;
}
nav a:hover{
    color: rgb(150,150,150);
}
nav a.on:hover{
    border-bottom: rgb(150,150,150) 4px solid;
}
div.mainBlock{
    z-index: 0;
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: block;
}
div.leftText{
    z-index: 10;
    margin-left: 6%;
}
div.rightText{
    z-index: 10;
    margin-right: 6%;
}
#center-div, #about-center-div{
    position: relative;
    margin: 0 auto;
    width: 62vw;
    top: 4vh;
    margin-right: 3.25%;
    z-index: 0;
    margin-top: 10vh;
}
div.main{top:9.5vh !important;}
.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:rgb(50,50,50);
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:28px;
    width:10px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }
/**********************************/
#center-div{
    width:58vw;
}
#left-div{
    display: block;
    float: left;
    width:72vw;
}
a{
    text-decoration: none;
    color: rgb(35,35,35);
}
a.on{
    color: rgb(60,60,60);
    border-bottom: rgb(60,60,60) 4px solid;
}
div.infoTxt, div.introTxt{
    position: fixed;
    left: 6%;
    z-index: 10;
}
div.infoTxt{
    margin-top:6vh;
    margin-top: 4vh;
    animation: fadein .5s ease-out;
}
div.introTxt{
    text-align: left !important;
    min-height: 235px;
    top: 18%;
}
div.content{
    /*width: 85%;
    margin: 0 auto;
    padding: 0;
    min-height: 93vh;
    margin-top: 7%;*/
}
div.noWidth{
    width: 0!important;
    visibility: hidden;
}
div.fullWidth{
    width: 100vw!important;
}
div.undershadow{
    position: relative;
    width: 100vw;
    height: 10vh;
    bottom: 0!important;
    -webkit-box-shadow: inset 0px -80px 87px -80px rgb(0 0 0 / 100%);
    -moz-box-shadow: inset 0px -80px 87px -80px rgba(0,0,0,1);
    box-shadow: inset 0px -50px 87px -80px rgb(0 0 0 / 100%);
}
div#work-title-div{
    visibility: hidden;
    position: absolute;
    z-index:100;
    background-color: rgb(35,35,35);
    padding-right: .5%;
    padding-left: .8%;
}
#work-title{
    font-size: 2em;
    color: rgb(150,150,150);
}
div.imgHolder{
    width: 100%;
    /*padding-top: 6%;*/
}
.imgHolder img.closeUp, .imgHolder img.closeUp.inline{
    transition: width .2s ease-out;
}
.imgHolder img.closeUp:hover{
    width: 98%;
}
.imgHolder img.closeUp.inline:hover{
    width: 51%;
}
div.fadeSlide{
    animation: fadeSlide 0.6s ease-out;
}
.fadein{
    animation: fadein .5s ease-out;
}
img{
    border-radius: .8%;
    box-shadow: 0 5px 12px 0px rgba(0,0,0,0.2);
}
a>img{
    position: absolute;
    transition: box-shadow 0.3s ease-in-out;
    transition: opacity 0.1s ease-in;
    width: 20vw;
    min-width: 180px;
    height: auto;
    margin:0px;
}
img:hover{
    z-index: 80;
    box-shadow: 0 6px 14px 2px rgba(0,0,0,0.65);
}
img.worksImage{
    border-radius: .1%;
    transition: box-shadow 0.15s ease-in-out;
}
img.worksImage:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 20px 23px 0px -3px rgba(0,0,0,0.62); 
    box-shadow: 0px 10px 13px -7px #000000, 20px 23px 0px -3px rgba(0,0,0,0.62);
}
img#img-4walls{
    top: 11vh;
    right: 8vw;
}
img#img-wave{
    left: 12vw;
    top: 6vh;
}
img#img-vinyl{
    bottom: 32vh;
    left: 0;
}
img#img-iki{
    bottom: 30vh;
    left: 21vw;
}
img#img-pixel{
    right: 0;
    bottom: 24vh;
}
img#img-workit{
    bottom: 10vh;
    left: 5vw;
}
img#img-illustration{
    bottom: 8vh;
    right: 14vw;
}
img.closeUp{ cursor: pointer;}
div.content .imgHolder img{
    width: 94%;
    height: auto;
    margin-bottom: 8%;
}
div.content .imgHolder img.inline{
    display: inline-block;
    width: 48%;
}
h1, h4{
    font-size: 2.5em;
    font-family: 'nes';
    margin-bottom: 1%;
}
.title{
    margin-bottom: 2%;
    max-width: 400px;
    margin: unset;
}
.title h1{
    font-size: 1.8rem;
}
p{
    line-height: 2rem;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    display: block;
    min-width: 265px;
    width: 22vw;
    max-width: 450px;
    margin-bottom: 2vh;
    text-align: left;
    hyphens: auto;
}
div.introTxt p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 32vw;
    max-width: 475px !important;
}
span{
    /*background-color: whitesmoke;*/
    padding-bottom:5px;
    padding-bottom: 4px;
}
.highlight{
    color: rgb(184, 0, 56);
}
.link{
    text-decoration: underline;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:96%;
    width:96%;
    position:absolute;
}


/**scroll bar**/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: unset; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(180,180,180);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150,150,150);
  }
/**/
.floating{
    animation: float 2s linear infinite;
}
.floating2{
    animation: float 2.5s linear infinite;
}
.floating3{
    animation: float 2.9s linear infinite;
}

@keyframes fadeSlide {
	from { 
        opacity:0;
        transform: translateX(-40px);
    }
    to   { 
        opacity:1;
        transform: translateX(0);
    }
}
@keyframes fadein {
	from { 
        opacity:0;
    }
    to   { 
        opacity:1;
    }
}

@keyframes float {
	from { 
        transform: rotate(0deg) translateX(4px) rotate(0deg);}
    to   { 
        transform: rotate(360deg) translateX(4px) rotate(-360deg);}
}

@font-face {
    font-family: 'snes';
    src: url('font/SNESesque.ttf'); /* IE9 Compat Modes */
    src: url('font/SNESesque.ttf?#iefix') format('truetype'), /* IE6-IE8 */
         url('font/SNESesque.ttf') format('truetype'), /* Super Modern Browsers */
         url('font/SNESesque.ttf') format('truetype'), /* Pretty Modern Browsers */
         url('font/SNESesque.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('font/SNESesque.ttf') format('truetype'); /* Legacy iOS */
  }

@font-face {
    font-family: 'nes';
    src: url('font/Pixel_NES.otf'); /* IE9 Compat Modes */
    src: url('font/Pixel_NES.otf') format('truetype'), /* IE6-IE8 */
         url('font/Pixel_NES.otf') format('truetype'), /* Super Modern Browsers */
         url('font/Pixel_NES.otf') format('truetype'), /* Pretty Modern Browsers */
         url('font/Pixel_NES.otf')  format('truetype'), /* Safari, Android, iOS */
         url('font/Pixel_NES.otf') format('truetype'); /* Legacy iOS */
  }
