/*---- 4 K -----*/
@media screen and (min-width: 2560px) {
    /*body { background-color: green; }*/
    div#center.original{
        margin-top: 18%;
        width: 60%;
        min-width: 500px;
        max-width: 950px;
    }
    h3{
        font-size: 32px;
        min-height: 32px;
    }
    h1{
        font-size: 54px;
    }
    p{
        font-size: 32px;
    }

}

/*----Tablet-----*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    /*body { background-color: pink; }*/
    div#center.original{
        margin-top: 2%;
        width: 50%;
        min-width: 400px;
    }
    div.fade{
        opacity: 0.9;
    }
}

/*----Tablet & Mobile----*/
@media screen and (max-width: 1024px){
    #center{
        opacity: 1;
    }
    #worksC div.imgHolder{
        opacity: 1;
    }
    div.infoTxt{
        display: block;
        width: 88%;
        padding: 0;
        height: auto;
        margin-left: 12%;
        position: relative;
        text-align: left;
    }
    #worksC.right, #worksC.left, #iframe.right, #iframe.left, div.picCol.right, div.picCol.left{
        float: none;
        text-align: left;
        right: 4px;
    }
    div.picCol.wider{
        max-width: 100%;
    }
    div.picContainer{
        position: relative;
        top: initial;
        overflow-y: unset;
        height: auto;
        width: 100%;
        height: 100%;
    }
    div.picCol{
        overflow-y: unset;
        position: fixed;
        height: auto;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        top: initial;
    }
    .right{
        float: unset;
    }
}
  
/*----Mobile S / M / L-----*/
@media screen and (max-width: 767px) {
    /*body { background-color: yellow; }*/
    div.fade{
        opacity: 0.9;
    }
    div#center.original{
        max-height: 650px;
        width: 90%;
        display: block;
    }
    div.bar div.left.margin-adjust, div.bar div.left, div.infoTxt{
        margin-left: 6%;
    }
    div.empty{
        height: 15px;
    }
    div#worksC div.imgHolder{
        width: 100%;
    }
    div.lane, div.min{
        visibility: hidden;
        position: absolute;
    }
    .bar div.left{
        width: 90%;
    }
    .bar div.barButt{
        width: 48%;
        display: inline-block;
        margin-top: 2px;
        padding-top: 6px;
        margin-bottom: 4px;
        text-align: center;
        height: 36px;
    }
    .bar div.left div:nth-child(2), .bar div.left div:nth-child(1){
        border-bottom: 4px solid rgb(100, 100, 100);
    } 
    div.barButt h3{
        margin: 0 auto;
        font-size: 26px;
    }
    div.bar{
        max-height: 100px;
        display: inline-block;
        position: relative;
    }
}